@model IEnumerable<ProyectoIntegrador_mejorado.Models.empleados>

@{
    ViewBag.Title = "Index";
}

<h2>Empleados</h2>
<h4>Administrador de empleados</h4>
@*Informacion para la busqueda*@
<p>Escriba algo en la barra para buscar en la tabla algún empleado</p>
<input class="form-control" id="userInput" type="text" placeholder="Buscar..">
<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cedulaPK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellido1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellido2)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.fechaNacimiento)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.disponibilidad)
            </th>
            <th>
                <a href="~/empleados/Create" role="button" class="btn btn-success"><i class="fas fa-plus-circle"></i> Crear</a>
            </th>
        </tr>

    </thead>

    <tbody id="myTableEmp">

        @foreach (var item in Model)
        {
            if (item.cedulaPK != "000000000")
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.cedulaPK)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.apellido1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.apellido2)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.fechaNacimiento)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.disponibilidad)
                    </td>
                    <td>
                        <a href="@Url.Action("Details", new { cedulaPk = item.cedulaPK })"><i class="fas fa-info-circle fa-lg" style="color:steelblue"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<br />
<br />

@*Script de Jquery para filtar elementos de la tabla*@
<script>
    $(document).ready(function () {
        $("#userInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTableEmp tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
