@*//------------------------------------------------------------------------------
    // @author: María José Aguilar Barboza B60115
    // @Date: 09/11/19
    // Este código corresponde la vista de delete
    // Este código en su mayoría fue autogenerado.
    //------------------------------------------------------------------------------*@
@model ProyectoIntegrador_mejorado.Models.modulos

@{
    /**/

    ViewBag.Title = "Delete";
}

@*Titulo*@
<h2>Eliminar</h2>
@*Subtitulo*@
<h3>Administrador módulos</h3>
@*para mostrar el proyecto actual como titulo*@
@if (TempData["proyecto"] != null)
{
    <h5>

        Proyecto: @TempData["nombreProyecto"]
    </h5>
    <STYLE type="text/css">
        H2 {
            text-align: left
        }

        H5 {
            text-align: left
        }
    </STYLE>
}
<div>
    @*Mensaje de confimacion para el usuario*@
    <div class="p-3 mb-2 bg-danger text-white">¿Está seguro que desea eliminar este módulo?</div>
    <hr />
    @*Despleigue de los atributos que pertenecen a la tabla junto con sus valores *@
    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.proyectos.nombre)
            </th>

            <td>
                @Html.DisplayFor(model => model.proyectos.nombre)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>

            <td>
                @Html.DisplayFor(model => model.nombre)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>

            <td>
                @Html.DisplayFor(model => model.descripcion)
            </td>
        </tr>

    </table>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @*Botones de aceptar y regresar(cancelar) *@
        <div class="form-actions no-color">
            <input type="submit" value="Aceptar" onclick="myFunction()" class="btn btn-success" /> &nbsp;
            <a href="~/modulos/Lista" role="button" class="btn btn-danger"> Cancelar</a>
        </div>
    }
</div>

@*Funcion que hace que se depliegue un popup inidcando que la eliminación fue exitosa*@ 
<script>
    function myFunction() {
        alert("¡Módulo borrado exitosamente!");
    }
</script>