@*//------------------------------------------------------------------------------
// @author: María José Aguilar Barboza B60115
// @Date: 09/11/19
// Este código corresponde la vita de lista de módulos
// Este código en su mayoría fue autogenerado.
//------------------------------------------------------------------------------*@
@model ProyectoIntegrador_mejorado.Models.modulos
@{
    ViewBag.Title = "Lista";
}

@*Esta vista desplega todos los módulos relacionados con el proyecto que el usario previamente selecciono*@

@*Título de la ventana*@
<h2>Módulos</h2>
@*para mostrar el proyecto actual como titulo*@
@if (TempData["proyecto"] != null)
{
    <h3>

        Proyecto: @TempData["nombreProyecto"]
    </h3>

    <STYLE type="text/css">
        H2 {
            text-align: left
        }

        H3 {
            text-align: left
        }
    </STYLE>
}
@*Informacion para la busqueda*@
<p>Escriba algo en la barra para buscar en la tabla algún módulo</p>
<input class="form-control" id="userInput" type="text" placeholder="Buscar..">
<br />


@*Tabla para el despliegue de tuplas*@
<table class="table table-striped">
    @*Encabezado de la tabla*@
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.proyectos.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>
                @*Botón de crear*@
                <a href="~/modulos/Create" role="button" class="btn btn-success float-right "><i class="fas fa-plus-circle"></i> Crear</a>
            </th>
        </tr>
    </thead>
    <tbody id="myTableMod">
        @*For para desplegar las tuplas de la tabla*@
        @foreach (var item in TempData["modulos"] as List<ProyectoIntegrador_mejorado.Models.modulos>)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.proyectos.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>

                <td>
                    @*Aquí se colocan los iconos para cada tupla de la tabla
                        Para obtener más icónos ver: https://mdbootstrap.com/docs/jquery/content/icons-list/
                        Para obtener más colores ver: https://mdbootstrap.com/docs/jquery/css/colors/
                    *@

                    @* Botón de detalles para cada tupla*@
                    <a href="@Url.Action("Details", new { codProyecto = item.codigoProyectoFK, id = item.idPK })"><i class="fas fa-info-circle fa-lg" style="color:steelblue"></i></a>


                </td>
            </tr>
        }
    </tbody>

</table>

@*Script de Jquery para filtar elementos de la tabla*@
<script>
    $(document).ready(function () {
        $("#userInput").on("keyup", function () {
            var value1 = $(this).val().toLowerCase();
            $("#myTableMod tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value1) > -1)
            });
        });
    });
</script>

