@model ProyectoIntegrador_mejorado.Models.DiferenciaEstimadaFinal

@{
    ViewBag.Title = "diferenciaEstimadaReal";
}

@*Vista del index*@
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>


<h2>
    Consultar la diferencia entre la fecha estimada y la real de un desarrollador
</h2>
<br />

@* Form con valores para utilizar el sp *@
@using (Html.BeginForm("diferenciaEstimadaReal", "reportes", FormMethod.Post))
{
    <div class="modal-body ">
        <div class=".col-6 .col-sm-4">
            <p>
                Seleccionar Empleado
            </p>

            @*Dropdown de selección de proyecto*@
            @Html.DropDownListFor(model => model.cedulaEmp, ViewBag.EmpleadosList as SelectList, "----------", new { @class = "form-control" })

        </div>

        <br />

        <div class=".col-6 .col-sm-4">
            <p>
                Seleccionar Empleado
            </p>
            @*Dropdown de selección de modulo vinculado con el proyecto previamente seleccionado*@
            @Html.DropDownListFor(model => model.codigoProy, new SelectList(""), "----------", new { @class = "form-control" })
        </div>

        <br />

        <input type="submit" value="Generar reporte" />
    </div>
}


@*Script para hacer el dropdown en cascada*@
<script>
    $(document).ready(function () {
        $("#cedulaEmp").change(function () {
            var cod = $(this).val();
            //console.log(cod);
            $.ajax({
                type: "Post",
                url: "/reportes/GetProyList?ced=" + cod,
                contentType: "html",
                success: function (response) {
                    $("#codigoProy").empty();
                    $("#codigoProy").append(response);
                }
            })

        })
    });
</script>

@{
    if (TempData["proyectosD"] != null)
    {


        <table class="table table-responsive-md">
            <tr>
                <th>
                    Nombre del Proyecto
                </th>

                <th>
                    Nombre del Requerimiento
                </th>

                <th>
                    Complejidad
                </th>

                <th>
                    Duración Estimada
                </th>

                <th>
                    Duración Real
                </th>

                <th>
                    Diferencia entre Estimada y Real
                </th>

            </tr>

            @foreach (var item in (TempData["proyectosD"] as IEnumerable<ProyectoIntegrador_mejorado.Models.ComparacionFechasInicioEst_Result>))
            {

                <tr>
                    <td>@item.Nombre_Proyecto</td>
                    <td>@item.Nombre_Requerimiento</td>
                    <td>@item.complejidad</td>
                    <td>@item.Duracion_Estimada</td>
                    <td>@item.Duracion_Real</td>
                    <td>@item.Diferencia</td>

                </tr>

            }

        </table>

    }
}
