
@model ProyectoIntegrador_mejorado.Models.FechasModel

@{
    ViewBag.Title = "Empleados disponibles en un rango de fechas";
}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

<h2>Disponibilidad de empleados en un rango de fechas</h2>
<br />




<script>
    $(document).ready(function () {
        $("#Fecha1").datepicker({
            dateFormat: 'dd/MM/yy',
            changeMonth: true,
            changeYear: true,
        });
    });
</script>


<script>
    $(document).ready(function () {
        $("#Fecha2").datepicker({
            dateFormat: 'dd/MM/yy',
            changeMonth: true,
            changeYear: true,
        });
    });
</script>


@*Campo de texto para seleccionar las fechas para el reporte*@
@using (Html.BeginForm("EmployeesDates", "reportes", FormMethod.Post))
{

    <div class="modal-body row">
        <div class=".col-6 .col-sm-4">
            <p>
                Fecha inicio
            </p>
            @Html.EditorFor(model => model.Fecha1, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
            @*<input type="text" id="calendar" />*@
        </div>

        <div class=".col-6 .col-sm-4" style="margin-left:90px">
            <p>
                 Fecha fin
            </p>

            @Html.EditorFor(model => model.Fecha2, new { htmlAttributes = new { @class = "form-control date2", @readonly = true } })
            @*<input type="text" id="calendar2" />*@

        </div>
    </div>

    <input type="submit" value="Generar reporte" />
}
@*<input type="submit" value="Generar reporte" class="btn btn-success" /> &nbsp;*@
@*

    <style>

        tbody {
            float: left;
            margin: 30px;
            width: 250px;
            height: 500px;
        }
    </style>*@

<br />
<br />



@*si ya se tiene la lista de empleados se despliega en pantalla*@
@{
    if (TempData["empl"] != null)
    {


        <table class="table table-responsive-md">
            <tr>
                <th>
                    Cedula
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Primer Apellido
                </th>
                <th>
                    Segundo apellido
                </th>
                <th>
                    Dias Disponible
                </th>

            </tr>

            @foreach (var item in (TempData["empl"] as IEnumerable<ProyectoIntegrador_mejorado.Models.DiasDisponiblesEmpleado_Result>))
            {
                if (item.cedulaPK != "000000000")
                {
                <tr>
                    <td>@item.cedulaPK</td>
                    <td>@item.nombre</td>
                    <td>@item.apellido1</td>
                    <td>@item.apellido2</td>
                    <td>@item.totalDays</td>

                </tr>
                }

            }

        </table>

    }
}

