
@model ProyectoIntegrador_mejorado.Models.FechasModel

@{
    ViewBag.Title = "requerimientosDesarrollador";
}

<h2>Requerimientos Desarrollador</h2>
<br />


@using (Html.BeginForm("requerimientosDesarrollador", "reportes", FormMethod.Post))
{

<div class="modal-body ">
    <div class=".col-6 .col-sm-4">
        <p>
            Seleccionar Proyecto
        </p>
        @Html.EditorFor(model => model.codigoProy, new { htmlAttributes = new { @class = "form-control" } })

    </div>

    <br />

    <div class=".col-6 .col-sm-4">
        <p>
            Seleccionar Empleados
        </p>

        @Html.EditorFor(model => model.cedulaEmp, new { htmlAttributes = new { @class = "form-control" } })

    </div>
    <br />
    <input type="submit" value="Generar reporte" />
</div>
}





@{
    if (TempData["req"] != null)
    {


        <table class="table table-responsive-md">
            <tr>
                <th>
                    Requerimiento
                </th>
                <th>
                    Nombre de Empleado
                </th>
                <th>
                    Estado
                </th>

            </tr>

            @foreach (var item in (TempData["req"] as IEnumerable<ProyectoIntegrador_mejorado.Models.requerimientos>))
            {

                <tr>
                    <td>@item.nombre</td>
                    <td>@item.empleados.nombre</td>
                    <td>@item.estado</td>

                </tr>

            }

        </table>

    }
}
