
@{
    ViewBag.Title = "TotalTimes";
}

<h2>Tiempo estimado y real por proyecto para completar los requerimientos</h2>

<br />
<br />

@*Informacion para la busqueda*@
@if (TempData["usuarioEsJefe"] != null)
{
    <p>Escriba algo en la barra para buscar en la tabla algún proyecto</p>
    <input class="form-control" id="userInput" type="text" placeholder="Buscar..">
    <br />
}





@*si ya se tiene la lista de proyectos se despliega en pantalla*@
@{
    if (TempData["proyectos"] != null)
    {

        @*Tabla para el despliegue de tuplas*@
        <table class="table table-striped">
            @*Encabezado de la tabla*@
            <thead>
                <tr>
                    <th>
                        Proyecto
                    </th>
                    <th>
                        Tiempo estimado total
                    </th>
                    <th>
                        Tiempo real total
                    </th>
                    <th>
                        Diferencia
                    </th>
                    <th>
                        Estado
                    </th>
                    @if (TempData["usuarioEsJefe"] != null)
                    {
                        <th>
                            Líder
                        </th>
                    }
                </tr>
            </thead>
            <tbody id="myTableMod">
                @*For para desplegar las tuplas de la tabla*@
                @foreach (var item in (TempData["proyectos"] as IEnumerable<ProyectoIntegrador_mejorado.Models.ProyectTimesModel>))
                {

                    <tr>
                        @*sacar el nombre del proyecto, con el codigo*@
                        <td>@item.nombreProyecto</td>
                        <td>@item.tiempoEstimado</td>
                        <td>@item.tiempoReal</td>
                        <td>@(item.tiempoReal - item.tiempoEstimado)</td>
                        @if (item.terminado == true)
                        {
                            <td>Finalizado</td>
                        }
                        else
                        {
                            <td>En curso</td>
                        }
                        @if (TempData["usuarioEsJefe"] != null)
                        {
                            <td>@item.lider</td>

                        }

                    </tr>

                }
            </tbody>

        </table>


    }
    else if(TempData["usuarioEsJefe"] == null)
    {
        <h3>Actualmente usted no es líder de ningún proyecto</h3>
    }
}




@*Script de Jquery para filtar elementos de la tabla*@
<script>
    $(document).ready(function () {
        $("#userInput").on("keyup", function () {
            var value1 = $(this).val().toLowerCase();
            $("#myTableMod tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value1) > -1)
            });
        });
    });
</script>