@model Proyecto_Integrador.Models.clientes

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Administrador de clientes</h3>
<div>
    <div class="p-3 mb-2 bg-light text-danger">¿Está seguro que desea eliminar este cliente?</div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.provincia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.provincia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.canton)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.canton)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.distrito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.distrito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccionDetallada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccionDetallada)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div style="position:absolute; right:850px; top:175px;">
            <input type="submit" value="Aceptar" class="btn btn-success btn-sm " />
        </div>
        <div style="position:absolute; right:750px; top:175px;">
            <a href="~/clientes/Index" role="button" class="btn btn-danger btn-sm "> Cancelar</a>
        </div>
    }
</div>
