@model IEnumerable<Proyecto_Integrador.Models.clientes>

@{
    ViewBag.Title = "Index";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<h2>Clientes</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellido1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellido2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.provincia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.canton)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.distrito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccionDetallada)
            </th>
            <th>
                <a href="~/clientes/Create" role="button" class="btn btn-success float-right "><i class="fas fa-plus-circle"></i> Crear</a>
            </th>
        </tr>
    </thead>
    <tbody id="myTableMod">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apellido1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apellido2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.provincia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.canton)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.distrito)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.correo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.direccionDetallada)
                </td>
                <td>
                    <a href="@Url.Action("Details", new {  id=item.cedulaPK })"><i class="fas fa-info-circle fa-lg" style="color:steelblue"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
