
@{
    ViewBag.Title = "Administración de equipos";
}

<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

@*
    *EFE: da la propiedad de moverse y depositarse a los elementos de la tabla sortable2 (derecha)
    *REQ: que existan elementos en la tabla sortable y que esta sea valida
    *MOD:
*@
<script>
    $(document).ready(function () {
        $("#sortable").sortable({
            connectWith: "#sortable2",
            receive: function (event, ui) {

                var item = (ui.item).clone();
                codigo = '@int.Parse(TempData["proyecto"].ToString())';
                var id = item.text().toString();
                window.location.href = "SetFree?codigo=" + codigo + "&cedula=" + id;
            }

        });
    })(jQuery);
</script>

@*
    *EFE: da la propiedad de moverse y depositarse a los elementos de la tabla sortable (izquierda)
    *REQ: que existan elementos en la tabla sortable y que esta sea valida
    *MOD:
*@
<script>
    $(document).ready(function () {
        $("#sortable2").sortable({
            connectWith: "#sortable",
            receive: function (event, ui) {
                var item = (ui.item).clone();
                codigo = '@int.Parse(TempData["proyecto"].ToString())';
                var id = item.text().toString();
                window.location.href = "SetBusy?codigo=" + codigo + "&cedula=" + id;
            }

        });
    })(jQuery);
</script>

<!-- Adición de libirería de íconos -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">




<br />
@*genera remarcacion de la opcion sobre la cual se encuentra el puntero*@
<style>
    #sortable tr:hover {
        background-color: #0094ff;
        color: #fff;
    }
</style>

<style>
    #sortable2 tr:hover {
        background-color: #0094ff;
        color: #fff;
    }
</style>



@*para mostrar el proyecto actual como titulo*@
@if (TempData["proyecto"] != null)
{
    <h2>

        Equipo del proyecto: @TempData["nombreProyecto"]
    </h2>
    <h3>

        Código: @TempData["proyecto"]
    </h3>

    if ((TempData["end"] as string) == "si")
    {
        <h4>

            Finalizado
        </h4>
    }









    <STYLE type="text/css">
        H2 {
            text-align: center
        }

        H3 {
            text-align: center
        }
        H4 {
            text-align: center;
            color: red
        }
    </STYLE>
}



<STYLE type="text/css">
    #linea {
        text-align: center
    }
</STYLE>



<div class="modal-body row">
    <div class=".col-6 .col-sm-4">
        <!-- codigo de primer columna-->
        <!-- lista desplegable para filtrar por conocimientos-->
        <td> Seleccionar concimiento </td>
        <td>
            @using (Html.BeginForm("Lista", "equipos", FormMethod.Post))
            {
                if (TempData["conocimientos"] != null)
                {
                    @Html.DropDownList("knowledge", new SelectList(TempData["conocimientos"] as List<string>, "knowledge"), "----------")
                }
                <input type="submit" value="Filtrar" />
            }
        </td>

        <p></p>
        <h3> Desarrolladores disponibles</h3>

        <table class="table table-responsive-md">

            <thead class="thead-light">
                <tr>
                    <th id="linea">  Cédula  &nbsp;&nbsp;&nbsp;&nbsp;  Nombre</th>
                </tr>
            </thead>

            <tbody id="sortable" style="cursor:pointer;">
                <!-- listar los desarrolladores disponibles-->
                @if (ViewBag.know != "----------" && TempData["empleadosK"].ToString() != "")
                {
                    foreach (var item in TempData["empleadosK"] as List<ProyectoIntegrador_mejorado.Models.empleados>)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("Details", new { cedula = item.cedulaPK })"><i class="fas fa-info-circle" style="color:cornflowerblue"></i></a>
                                @item.cedulaPK
                            </td>
                            <td class=" taskSingleInline" id="task@(item.cedulaPK)" data-taskid="@(item.cedulaPK)">
                                @item.nombre
                            </td>

                        </tr>
                    }
                }
                else
                {
                    if (TempData["empleados"] != null)
                    {
                        foreach (var item in TempData["empleados"] as List<ProyectoIntegrador_mejorado.Models.empleados>)
                        {
                            <tr>
                                <td class=" taskSingleInline" id="task@(item.cedulaPK)" data-taskid="@(item.cedulaPK)">
                                    <a href="@Url.Action("Details", new { cedula = item.cedulaPK })"><i class="fas fa-info-circle" style="color:cornflowerblue"></i></a>
                                    @item.cedulaPK

                                </td>
                                <td>
                                    @item.nombre

                                </td>

                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>

    <div class=".col-6">
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </p>
    </div>

    <div class=".col-6 .col-sm-4">
        <!-- codigo de segunda colunma-->
        @if (TempData["proyecto"] != null)
        {
            if (TempData["lider"] != null)
            {
                <p>
                    Lider del proyecto:
                    @((TempData["lider"] as ProyectoIntegrador_mejorado.Models.empleados).nombre + " " + (TempData["lider"] as ProyectoIntegrador_mejorado.Models.empleados).apellido1 + " " + (TempData["lider"] as ProyectoIntegrador_mejorado.Models.empleados).apellido2)

                </p>
            }
        }

        <br />
        <h3>Miembros actuales del equipo</h3>


        <table class="table table-responsive-md">

            <thead class="thead-light">
                <tr>
                    <th id="linea">  Cédula  &nbsp;&nbsp;&nbsp;&nbsp;  Nombre</th>
                </tr>
            </thead>
            <!-- listar los miembros del equipo para el proyecto seleccinado-->


            <tbody id="sortable2" style="cursor:pointer;">
                @if (TempData["empleados"] != null)
                {
                    foreach (var item in TempData["empleadosP"] as List<ProyectoIntegrador_mejorado.Models.empleados>)
                    {
                        <tr>
                            <td class="taskSingleInline" id="task@(item.cedulaPK)" data-taskid="@(item.cedulaPK)">
                                <a href="@Url.Action("Details", new { cedula = item.cedulaPK })"><i class="fas fa-info-circle" style="color:cornflowerblue"></i></a>
                                @item.cedulaPK
                            </td>
                            <td>
                                @item.nombre
                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>




@*se crean las columnas como "cajas" permanentes, no desaparecen al vaciarse*@
<style>
    tbody {
        float: left;
        margin: 30px;
        width: 250px;
        height: 500px;
    }
</style>

