@*//------------------------------------------------------------------------------
    // @author: María José Aguilar Barboza B60115
    // @Date: 09/11/19
    // Este código corresponde la vista de delete
    // Este código en su mayoría fue autogenerado.
    //------------------------------------------------------------------------------*@
@model ProyectoIntegrador_mejorado.Models.requerimientos

@{
    ViewBag.Title = "Delete";
}
@*Título de la vista*@
<h2>Eliminar</h2>
@*subtítulo de la vista*@
<h3>Administrador de requerimientos</h3>
@ViewBag.UnsuccessMessage
@*Título del proyecto y módulo seleccionados*@
@if (TempData["proyecto"] != null && TempData["modulos"] != null)
{
    <h5>

        Proyecto: @TempData["nombreProyecto"]
    </h5>
    <h6>

        Módulo: @TempData["nombreModulo"]
    </h6>
    <STYLE type="text/css">
        H2 {
            text-align: left
        }

        H5 {
            text-align: left
        }
    </STYLE>
}
<div>
    @*Mensaje de confimacion para el usuario*@
    <div class="p-3 mb-2 bg-danger text-white">¿Está seguro que desea eliminar este módulo?</div>
    <hr />
    <table class="table table-bordered">
        @*Despliegue de atributos del requerimiento específico*@
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>

            <td>
                @Html.DisplayFor(model => model.nombre)
            </td>

        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>

            <td>
                @Html.DisplayFor(model => model.descripcion)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.complejidad)
            </th>

            <td>
                @Html.DisplayFor(model => model.complejidad)
            </td>

        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>

            <td>
                @Html.DisplayFor(model => model.estado)
            </td>

        </tr>


        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fechaInicio)
            </th>

            <td>
                @Html.DisplayFor(model => model.fechaInicio)
            </td>

        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fechaFin)
            </th>

            <td>
                @Html.DisplayFor(model => model.fechaFin)
            </td>

        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.duracionEstimada)
            </th>

            <td>
                @Html.DisplayFor(model => model.duracionEstimada)
            </td>

        </tr>


        <tr>
            <th>
                @Html.DisplayNameFor(model => model.duracionDias)
            </th>

            <td>
                @Html.DisplayFor(model => model.duracionDias)
            </td>

        </tr>



        <tr>
            <th>
                @Html.DisplayNameFor(model => model.empleados.nombre)
            </th>

            <td>
                @Html.DisplayFor(model => model.empleados.nombre)
            </td>

        </tr>


    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @*Botones de aceptar y regresar(cancelar) *@
        <div class="form-actions no-color">
            <input type="submit" value="Aceptar" onclick="myFunction()" class="btn btn-success" /> &nbsp;
            <a href="~/requerimientos/Lista" role="button" class="btn btn-danger"> Cancelar</a>
        </div>
    }
</div>

@*Funcion que hace que se depliegue un popup inidcando que la eliminación fue exitosa*@
<script>
    function myFunction() {
        alert("¡Requerimiento borrado exitosamente!");
    }
</script>