@model ProyectoIntegrador_mejorado.Models.requerimientos

@{
    ViewBag.Title = "Details";
}

<h2>Detalles de requerimiento</h2>
<div class="botones">
    <a href="@Url.Action("Edit", new {  idProyecto = Model.codigoProyectoFK, idModulo = Model.idModuloFK, id = Model.idPK })"><i class="far fa-edit fa-2x" style="color:dodgerblue"></i></a>&nbsp;
    <a href="@Url.Action("Delete", new {  idProyecto = Model.codigoProyectoFK, idModulo = Model.idModuloFK, id = Model.idPK })"><i class="far fa-trash-alt fa-2x" style="color:red"></i></a>&nbsp;
</div>

<div>
    <h4>Administrador de requerimientos</h4>
    <hr />
    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>

            <td>
                @Html.DisplayFor(model => model.nombre)
            </td>

        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.modulos.nombre)
            </th>

            <td>
                @Html.DisplayFor(model => model.modulos.nombre)
            </td>

        </tr>
  

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>

            <td>
                @Html.DisplayFor(model => model.descripcion)
            </td>
        </tr>


        <tr>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>

            <td>
                @Html.DisplayFor(model => model.estado)
            </td>

        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.complejidad)
            </th>

            <td>
                @Html.DisplayFor(model => model.complejidad)
            </td>

        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fechaInicio)
            </th>

            <td>
                @Html.DisplayFor(model => model.fechaInicio)
            </td>

        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fechaFin)
            </th>

            <td>
                @Html.DisplayFor(model => model.fechaFin)
            </td>

        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.duracionEstimada)
            </th>

            <td>
                @Html.DisplayFor(model => model.duracionEstimada)
            </td>

        </tr>


        <tr>
            <th>
                @Html.DisplayNameFor(model => model.duracionDias)
            </th>

            <td>
                @Html.DisplayFor(model => model.duracionDias)
            </td>

        </tr>



        <tr>
            <th>
                @Html.DisplayNameFor(model => model.empleados.nombre)
            </th>

            <td>
                @Html.DisplayFor(model => model.empleados.nombre)
            </td>

        </tr>

        @*<tr>
            <th>
                @Html.DisplayNameFor(model => model.modulos.nombre)
            </th>

            <td>
                @Html.DisplayFor(model => model.modulos.nombre)
            </td>

        </tr>*@


    </table>
</div>
<div>
    <a href="~/requerimientos/Lista" role="button" class="btn btn-secondary"> Regresar</a>
</div>
