@model Proyecto_Integrador.Models.modulos

@{
    ViewBag.Title = "Create";
}
<!-- Adición de libirería de íconos -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
<h2>Crear Módulo</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @*Subtitulo de la vista *@
        <h4>Administrador de módulos</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.codigoProyectoFK, "Proyecto", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("codigoProyectoFK", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.codigoProyectoFK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nombrePK, "Nombre módulo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*Acá es para hacer que a fuerzas el usuario ingrese un valor *@
                @Html.TextBoxFor(model => model.nombrePK, new { @class = "form-control", placeholder = "nombre", required = "required" })
                @Html.ValidationMessageFor(model => model.nombrePK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.descripcion, "Descripción", htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @*Acá es para hacer que a fuerzas el usuario ingrese un valor*@
                @Html.TextAreaFor(model => model.descripcion, new { @class = "form-control", placeholder = "descripción", required = "required", @rows = 5 })
                @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
            </div>

        </div>


    </div>
    <div style="position:absolute; right:650px; top:600px;">
        <input type="submit" value="Aceptar" class="btn btn-success btn-sm " />
    </div>
    <div style="position:absolute; right:550px; top:600px;">
        <a href="~/modulos/Index" role="button" class="btn btn-danger btn-sm "> Cancelar</a>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

