@model Proyecto_Integrador.Models.modulos

@{
    ViewBag.Title = "Delete";
}
@*Titulo*@
<h2>Eliminar</h2>
@*Subtitulo*@
<h3>Administrador módulos</h3>
<div>
    @*Mensaje de confimacion para el usuario*@
    <div class="p-3 mb-2 bg-danger text-white">¿Está seguro que desea eliminar el módulo?</div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.proyectos.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proyectos.nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nombrePK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombrePK)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @*Botones de aceptar y regresar(cancelar) *@
        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            <a href="~/modulos/Index" role="button" class="btn btn-secondary"> Regresar</a>
        </div>
    }
</div>
