@model Proyecto_Integrador.Models.proyectos

@{
    ViewBag.Title = "Crear";
}

<h2>Crear proyecto</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Administrador de proyectos</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.codigoPK, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.codigoPK, new { @class = "form-control", placeholder = "código", required = "required" })
                @Html.ValidationMessageFor(model => model.codigoPK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group required text-nowrap">
            @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", placeholder = "nombre", required = "required" } })
                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group required">
            @Html.LabelFor(model => model.fechaInicio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaInicio, new { htmlAttributes = new { @class = "form-control", type="date", required = "required" } })
                @Html.ValidationMessageFor(model => model.fechaInicio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group required">
            @Html.LabelFor(model => model.fechaFinalEstimada, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaFinalEstimada, new { htmlAttributes = new { @class = "form-control", type = "date", required = "required" } })
                @Html.ValidationMessageFor(model => model.fechaFinalEstimada, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fechaFinal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaFinal, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                @Html.ValidationMessageFor(model => model.fechaFinal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group required">
            @Html.LabelFor(model => model.costoEstimado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.costoEstimado, new { htmlAttributes = new { @class = "form-control", placeholder = "costo estimado", required = "required" } })
                @Html.ValidationMessageFor(model => model.costoEstimado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.costoReal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.costoReal, new { htmlAttributes = new { @class = "form-control", placeholder = "costo real" } })
                @Html.ValidationMessageFor(model => model.costoReal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.objetivo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.objetivo, new { @class = "form-control", placeholder = "objetivo", @rows = 5 })
                @Html.ValidationMessageFor(model => model.objetivo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cedulaClienteFK, "Cliente de proyecto", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("cedulaClienteFK", null, htmlAttributes: new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.cedulaClienteFK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.empleadosDisponibles, "Líder de proyecto", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("empleadosDisponibles", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.empleadosDisponibles, "", new { @class = "text-danger" })
                </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idEquipo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.idEquipo, new { htmlAttributes = new { @class = "form-control", placeholder = "ID" } })
                @Html.ValidationMessageFor(model => model.idEquipo, "", new { @class = "text-danger" })
            </div>
        </div>

        @*Aviso de campo obligatorio*@
        <label class="control-label col-md-2"><span style="color:red">*</span> Campo obligatorio</label>

        @*Botones de aceptar y cancelar*@
        <div class="form-actions no-color" style="position:relative; left:15px;">
            <input type="submit" value="Aceptar" class="btn btn-success" />
            <a href="~/proyectos/Index" role="button" class="btn btn-danger"> Cancelar</a>
        </div>
    </div>
}

<br />
<br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
