@model IEnumerable<Proyecto_Integrador.Models.proyectos>

@{
    ViewBag.Title = "Index";
}

<h2>Proyectos</h2>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.objetivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idEquipo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.objetivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idEquipo)
            </td>
            <td>
                <a href="@Url.Action("Details", new { id = item.codigoPK })"><i class="fas fa-info-circle" style="color:cornflowerblue"></i></a>
            </td>
        </tr>
    }

</table>
