@model Proy_PI.Models.modulos

    @{
        ViewBag.Title = "Details";
    }
    @*Subtitulo *@
    <h2>Detalles</h2>

    <div>
        <h4>Administrador módulos</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.proyectos.nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.proyectos.nombre)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.nombrePK)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombrePK)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.descripcion)
            </dd>

        </dl>
    </div>
    <p>
        @*Boton de regresar a la pagina pincipal *@
        <div>
            <a href="~/modulos/Index" role="button" class="btn btn-secondary"> Regresar</a>
        </div>
    </p>