@model IEnumerable<Proy_PI.Models.modulos>

@{
    ViewBag.Title = "Index";
}

@*Título de la ventana*@
<h2>Módulos</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.proyectos.codigoPK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombrePK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.proyectos.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombrePK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>

            <td>
                @*Aquí se colocan los iconos para cada tupla de la tabla
                    Para obtener más icónos ver: https://mdbootstrap.com/docs/jquery/content/icons-list/
                    Para obtener más colores ver: https://mdbootstrap.com/docs/jquery/css/colors/
                *@

                <a href="@Url.Action("Edit", new { codProyecto = item.codigoProyectoFK, nombreMod = item.nombrePK })"><i class="far fa-edit" style="color:orange"></i></a>
                <a href="@Url.Action("Details", new { codProyecto = item.codigoProyectoFK, nombreMod = item.nombrePK })"><i class="fas fa-info-circle" style="color:cornflowerblue"></i></a>
                <a href="@Url.Action("Delete", new { codProyecto = item.codigoProyectoFK, nombreMod = item.nombrePK })"><i class="far fa-trash-alt" style="color:red"></i></a>

            </td>
        </tr>
    }

</table>

@*Botón de crear*@
<a href="~/modulos/Create" role="button" class="btn btn-success"><i class="fas fa-plus-circle"></i> Crear</a>
