@model ProyectoIntegrador_mejorado.Models.conocimientos

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="card">
    <div class="card-header">
        <h4>Administrador de conocimientos</h4>
    </div>
    <div class="card-body ">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.cedulaEmpleadoFK, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.DropDownList("cedulaEmpleadoFK", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.cedulaEmpleadoFK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group required">
            @Html.LabelFor(model => model.conocimientoPK, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.conocimientoPK, new { htmlAttributes = new { @class = "form-control" }, required = "required" })
                @Html.ValidationMessageFor(model => model.conocimientoPK, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    @*Botones de aceptar y cancelar *@
    <div class="form-actions no-color bot">
        <input type="submit" value="Aceptar" class="btn btn-success" /> &nbsp;
        <a href="~/empleados/Index" role="button" class="btn btn-danger"> Cancelar</a>
    </div>
    <br />
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
