@model IEnumerable<Proyecto_Integrador.Models.requerimientos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.complejidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cedulaEmpleadoFK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duraciónEstimada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duraciónReal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modulos.descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.complejidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cedulaEmpleadoFK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duraciónEstimada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duraciónReal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modulos.descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { idProyecto = item.codigoProyectoFK, idModulo = item.idModuloFK, id = item.idPK }) |
            @Html.ActionLink("Details", "Details", new { idProyecto = item.codigoProyectoFK, idModulo = item.idModuloFK, id = item.idPK }) |
            @Html.ActionLink("Delete", "Delete", new { idProyecto = item.codigoProyectoFK, idModulo = item.idModuloFK, id = item.idPK })
        </td>
    </tr>
}

</table>
