
@{
    ViewBag.Title = "Administración de equipos";
}
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>


<script>
    $(document).ready(function () {
        $("#sortable2").sortable({
            connectWith: "#sortable",
            update: function (event, ui) {
                var itemIds = "";
                $("sortable").find(".taskSingleInline").each(function () {
                    var itemId = $(this).attr("data-taskid");
                    itemIds = itemIds + itemId + ",";
                });
            },
            receive: function (event, ui) {


                @* aqui se llama al metodo para quitar el rol al empleado
                $.get("/empleados/SetFree", { cedulaPK: $("").text(ui.sortable.text()) }, function (data) {
                    alert("you clickek");

                });*@
            }

        });
    })

</script>

<script>
    $(document).ready(function () {
        $("#sortable").sortable({
            connectWith: "#sortable2",
            update: function (event, ui) {
                var itemIds = "";
                $("sortable").find(".taskSingleInline").each(function () {
                    var itemId = $(this).attr("data-taskid");
                    itemIds = itemIds + itemId + ",";
                });
            },
            receive: function (event, ui) {


                @* aqui se llama al metodo para agregar el rol al empleado
                $.get("/empleados/SetBusy", { cedulaPK: $("").text(ui.sortable.text()) }, function (data) {
                    alert("you clickek");

                });*@
            }

        });
    })

</script>

<!-- Adición de libirería de íconos -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">




<br />
<br />

<style>
    #sortable tr:hover {
        background-color: #0094ff;
        color: #fff;
    }
</style>

<style>
    #sortable2 tr:hover {
        background-color: #0094ff;
        color: #fff;
    }
</style>


<div class="modal-body row">
    <div class=".col-6 .col-sm-4">
        <!-- codigo de primer columna-->
        <p> Desarrolladores disponibles</p>

        <!-- lista desplegable para filtrar por conocimientos-->
        <td> Seleccionar filtro </td>
        <td>
            @if (TempData["conocimientos"] != null)
            {
                @Html.DropDownList("conocimientoPK", new SelectList(TempData["conocimientos"] as List<Proyecto_Integrador.Models.conocimientos>, "conocimientoPK", "conocimientoPK"), "----------")
            }
        </td>

        <p></p>


        <table class="table table-responsive-md">




            <thead class="thead-light">
                <tr>
                    <th>Cédula</th>
                    <th>Nombre</th>
                </tr>
            </thead>

            <tbody id="sortable" style="cursor:pointer;">
                <!-- listar los desarrolladores disponibles-->
                @if (ViewBag.know != "----------" && TempData["empleadosK"].ToString() != "")
                {
                    foreach (var item in TempData["empleadosK"] as List<Proyecto_Integrador.Models.empleados>)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("Details", new { cedula = item.cedulaPK })"><i class="fas fa-info-circle" style="color:cornflowerblue"></i></a>
                                @item.cedulaPK
                            </td>
                            <td class=" taskSingleInline" id="task@(item.cedulaPK)" data-taskid="@(item.cedulaPK)">
                                @item.nombre
                            </td>

                        </tr>
                    }
                }
                else
                {
                    if (TempData["empleados"] != null)
                    {
                        foreach (var item in TempData["empleados"] as List<Proyecto_Integrador.Models.empleados>)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Details", new { cedula = item.cedulaPK })"><i class="fas fa-info-circle" style="color:cornflowerblue"></i></a>
                                    @item.cedulaPK

                                </td>
                                <td class=" taskSingleInline" id="task@(item.cedulaPK)" data-taskid="@(item.cedulaPK)">
                                    @item.nombre

                                </td>

                            </tr>
                        }
                    }
                }



            </tbody>
        </table>
    </div>

    <div class="col">

    </div>

    <div class=".col-6 .col-sm-4">
        <!-- codigo de segunda colunma-->
        <p>
            Empleados en el proyecto

            @TempData["nombreProyecto"] (@TempData["proyecto"])
        </p>
        <!-- lista desplegable para seleccionar proyecto-->

        <p></p>
        <br />
        <br />

        <!-- muestra el nombre del equipo (id)-->

        <table class="table table-responsive-md">

            <thead class="thead-light">
                <tr>
                    <th>Cédula</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <!-- listar los miembros del equipo para el proyecto seleccinado-->



            <tbody id="sortable2" style="cursor:pointer;">
                <!-- para visualizar un ejemplo-->
                @if (TempData["empleados"] != null)
                {
                    foreach (var item in TempData["empleadosP"] as List<Proyecto_Integrador.Models.empleados>)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("Details", new { cedula = item.cedulaPK })"><i class="fas fa-info-circle" style="color:cornflowerblue"></i></a>
                                @item.cedulaPK
                            </td>
                            <td class="taskSingleInline" id="task@(item.cedulaPK)" data-taskid="@(item.cedulaPK)">
                                @item.nombre
                            </td>

                        </tr>
                    }
                }
            </tbody>



        </table>
    </div>
</div>








@*script para filtrar empleados por conociminento*@
<script>
        $(document).ready(function () {

            $("#conocimientoPK").change(function () {
                var taka = $("#conocimientoPK Option:selected").text();
                @*$("#conocimientoPK").val($("#conocimientoPK Option:selected").text().trim());


                @foreach (var item in TempData["conocimientos"] as List<PiLocalWeb.Models.conocimiento>)
                {
                    if (taka == "c++")
                        window.location.href = "@Url.Action("Lista", "equipos", new { conocimientoPK =  "c++" })";
                }*@
                @*
                @{ foreach (var item in TempData["conocimientos"] as List<PiLocalWeb.Models.conocimiento>)
                        {
                            if (item.conocimientoPK == taka) {
                                window.location.href = "@Url.Action("Lista", "equipos", new { conocimientoPK =  item.conocimientoPK})";
                            }
                        }
                    }
                *@

                @* hay que encontrar como convertir el valor del dropdown a string *@
                if (taka == "c++")
                    window.location.href = "@Url.Action("Lista", "equipos", new { conocimientoPK =  "c++"})";
                if (taka == "java")
                    window.location.href = "@Url.Action("Lista", "equipos", new { conocimientoPK =  "java"})";
                if (taka == "c#")
                    window.location.href = "@Url.Action("Lista", "equipos", new { conocimientoPK =  "c#"})";
                if (taka == "php")
                    window.location.href = "@Url.Action("Lista", "equipos", new { conocimientoPK = "php" })";


                });
        });

</script>

<style>

    tbody {
        float: left;
        margin: 30px;
        width: 250px;
        height: 500px;
    }
</style>